.chat {
  height: 100%;
}

.chat-messages-show {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.chat-messages-show ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 10px 10px 10px;
  overflow-wrap: break-word;
  list-style: none;
}

.chat-messages-show ul li {
  font-size: 23px;
}

.chat-messages-show ul li span {
  color: #f39c12;
  font-size: 23px;
  margin-right: 10px;
}

.chat-messages-create {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chat-messages-create textarea {
  border: 4px #f39c12 solid;
  color: white;
  font-size: 18px;
  background-color: transparent;
  flex: 1;
  flex-grow: 10;
}

.chat-messages-create button {
  border: 4px #f39c12 solid;
  border-left: none;
  background-color: transparent;
  color: #f39c12;
  font-size: 20px;
  width: 100px;
  flex: 1;
  cursor: pointer;
}

@media only screen and (max-width: 499px) {
  .chat-messages-show ul li {
  font-size: 18px;
  }
  .chat-messages-show ul li span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 359px) {
  .chat-messages-show ul li {
  font-size: 14px;
  }
  .chat-messages-show ul li span {
    font-size: 14px;
  }
}
