/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: 'Roboto', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}
